.row > .btn {
    width:80px;
    margin-left: 20px;
    background-color:#00aa6c;
    color:white;
    font-weight: bold;
    outline: 0;
    border-color:#00aa6c;    
}
.row > .btn:hover {
    background-color: #229954 ;
    border-color: #229954;
}
.mb-3 {
    margin-left: 250px;
    margin-top: 50px;
}
.mb-3  > form >.row > .col-auto > select {
    width: 150px;
    height: 32px;
    border: 1px solid gray;
    margin-bottom: 7px;
} 
