.container{
    margin-top: 50px; 
}
.container > form {
    margin-left: 350px;
}

.container > form > .form-group > label {
    margin-top: 20px;
}
.container > form > .form-group > input {
        width: 60%;
        margin-top: 5px;
}
.container > form > button {
    margin-top: 15px;
    width: 100px;
}
